/*abdullah Google Reviews starts here*/

.abdullah-google-reviews-carousel-wrapper .abdullah-google-reviews-carousel-quote {
    font-size: 16px;
}
.abdullah-google-reviews-carousel-wrapper .abdullah-carousel-nav-next i,
.abdullah-google-reviews-carousel-wrapper .abdullah-carousel-nav-prev i {
    transition: 0.3s ease;
    color: #b1b1b1;
    line-height: 58px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}

.abdullah-google-reviews-items {
    margin: 0;
}
.abdullah-google-reviews-items .abdullah-google-reviews-carousel-item {
    margin: 0 56px 100px;
}
.abdullah-google-reviews-items .abdullah-google-reviews-carousel-inner {
    display: flex;
    align-items: center;
}
.abdullah-google-reviews-items .abdullah-google-reviews-carousel-inner .abdullah-google-reviews-carousel-inner-left {
    flex-basis: 40%;
}
.abdullah-google-reviews-items .abdullah-google-reviews-carousel-inner .abdullah-google-reviews-carousel-inner-right {
    flex-basis: 58%;
    margin-left: 2%;
}
.abdullah-google-reviews-items .abdullah-google-reviews-carousel-name {
    font-size: 22px;
    font-family: Roboto, sans-serif;
    margin-bottom: 5px;
}
.abdullah-google-reviews-items .abdullah-google-reviews-carousel-designation {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 25px;
}
.abdullah-google-reviews-items .abdullah-google-reviews-carousel-quote {
    margin-bottom: 25px;
}
.abdullah-google-reviews-items .abdullah-google-reviews-carousel-ratings {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.abdullah-google-reviews-items .abdullah-google-reviews-carousel-ratings li {
    display: inline-block;
    font-size: 20px;
}
.abdullah-google-reviews-items .abdullah-google-reviews-carousel-ratings li.abdullah-google-reviews-carousel-ratings-active i {
    color: #806bff;
}
.abdullah-google-reviews-items .abdullah-google-reviews-carousel-image {
    box-shadow: 0 40px 81px 0 rgba(9, 24, 33, 0.14);
}
.abdullah-google-reviews-items .abdullah-google-reviews-carousel-image img {
    width: 100%;
}
.abdullah-google-reviews-items .abdullah-carousel-nav-next,
.abdullah-google-reviews-items .abdullah-carousel-nav-prev {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    transition: 0.3s ease;
    border: 1px solid #e5e5e5;
    bottom: 20px;
    z-index: 1;

    top: 50%;
    transform: translateY(-50%);
    height: 60px;
    width: 60px;
    background: transparent;
    cursor: pointer;
    transition: all .3s ease;
}
.abdullah-google-reviews-items .abdullah-carousel-nav-next:hover,
.abdullah-google-reviews-items .abdullah-carousel-nav-prev:hover {
    color: #fff;
    box-shadow: 0 19px 27px 0 rgba(56, 218, 232, 0.25);
    background: #806bff;
}
.abdullah-google-reviews-items .abdullah-carousel-nav-prev {
    left: 56px;
}
.abdullah-google-reviews-items .abdullah-carousel-nav-next {
    right: 56px;
}
@media only screen and (max-width: 630px) {
    .abdullah-google-reviews-items .abdullah-google-reviews-carousel-inner {
        flex-direction: column;
        align-items: flex-start;
    }
}
@media only screen and (max-width: 400px) {
    .abdullah-google-reviews-carousel-basic {
        padding: 50px;
    }
    .abdullah-google-reviews-carousel-basic .abdullah-google-reviews-carousel-name {
        font-size: 18px;
    }
    .abdullah-google-reviews-carousel-basic .abdullah-google-reviews-carousel-designation {
        font-size: 14px;
    }
    .abdullah-google-reviews-carousel-basic .abdullah-carousel-nav-next,
    .abdullah-google-reviews-carousel-basic .abdullah-carousel-nav-prev {
        bottom: 0;
    }
    .abdullah-google-reviews-carousel-basic .abdullah-carousel-nav-next {
        right: 25px;
    }
    .abdullah-google-reviews-carousel-basic .abdullah-carousel-nav-prev {
        right: 90px;
    }
}

.abdullah-google-reviews-carousel-ratings .abdullah-google-reviews-ratings {
    padding-left: 0 !important;
}

.abdullah-google-reviews-ratings{
    margin: 0;
    padding: 0;
  }
  
  .abdullah-google-reviews-ratings li{
    list-style: none;
    display: inline-block;
  }
  
  .abdullah-google-reviews-thumb img {
    height: 100% !important;
    width: 100%;
    display: block;
    object-fit: cover;
  }
  .abdullah-google-reviews-thumb {
    background: #ffffff;
  }

  .abdullah-google-reviews-wrapper {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #e3e3e3;
    border-radius: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
  }

  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-center{
    text-align: center;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-center .abdullah-google-reviews-thumb{
    margin-left: auto;
    margin-right: auto;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-bottom{
    text-align: center;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-bottom .abdullah-google-reviews-thumb{
    margin-left: auto;
    margin-right: auto;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-right{
    text-align: right;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-center .abdullah-google-reviews-thumb{
    margin-left: auto;
  }

  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-left .abdullah-google-reviews-reviewer-wrapper .abdullah-google-reviews-thumb,
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-right .abdullah-google-reviews-reviewer-wrapper .abdullah-google-reviews-thumb,
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-center .abdullah-google-reviews-reviewer-wrapper .abdullah-google-reviews-thumb,
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-bottom .abdullah-google-reviews-reviewer-wrapper .abdullah-google-reviews-thumb{
    border-radius: 50% 50% 50% 50%;
    margin-bottom: 0px;
  }

  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-left .abdullah-google-reviews-reviewer-wrapper,
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-right .abdullah-google-reviews-reviewer-wrapper{
    display: flex;
    align-items: center;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-left .abdullah-google-reviews-reviewer-wrapper .abdullah-google-reviews-reviewer{
      padding-left: 20px;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-right .abdullah-google-reviews-reviewer-wrapper .abdullah-google-reviews-reviewer{
    padding-right: 20px;
  }

  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-right .abdullah-google-reviews-reviewer-wrapper{
    justify-content: flex-end;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-right .abdullah-google-reviews-reviewer-wrapper .abdullah-google-reviews-thumb{
    order: 2;
  }
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-right .abdullah-google-reviews-reviewer-wrapper .abdullah-google-reviews-reviewer{
    order: 1;
  }
  
  .abdullah-google-reviews-description{
    margin: 0;
  }
  
  .abdullah-google-reviews-name{
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    transition: all .3s ease;
  }
  
  .abdullah-google-reviews-designation{
    margin: 0;
    display: block;
    font-size: 14px;
    font-weight: 600;
  }
  
  .abdullah-google-reviews-content-wrapper-arrow::before{
    position: absolute;
    content: "\e92a";
    font-family: eicons;
    transform: translateX(-50%);
    font-size: 25px;
    line-height: 1;
  }
  
  .abdullah-google-reviews-wrapper-inner.layout-2 .abdullah-google-reviews-content-wrapper-arrow::before{
    /* top: -15px; */
    transform: translateX(-50%) rotate(180deg);
  }
  .abdullah-google-reviews-wrapper {
    transition: all .3s ease;
  }
  
  .abdullah-google-reviews-content-wrapper-arrow{
    position: relative;
    z-index: 1;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-center .abdullah-google-reviews-wrapper-inner.layout-1 .abdullah-google-reviews-content-wrapper-arrow::before{
    left: 50%;
    bottom: -15px;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-bottom .abdullah-google-reviews-wrapper-inner.layout-1 .abdullah-google-reviews-content-wrapper-arrow::before{
    left: 50%;
    bottom: -15px;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-left .abdullah-google-reviews-wrapper-inner.layout-1 .abdullah-google-reviews-content-wrapper-arrow::before{
    left: 40px;
    bottom: -15px;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-right .abdullah-google-reviews-wrapper-inner.layout-1 .abdullah-google-reviews-content-wrapper-arrow::before{
    right: 25px;
    bottom: -15px;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-center .abdullah-google-reviews-wrapper-inner.layout-2 .abdullah-google-reviews-content-wrapper-arrow::before{
    left: 50%;
    top: -15px;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-bottom .abdullah-google-reviews-wrapper-inner.layout-2 .abdullah-google-reviews-content-wrapper-arrow::before{
    left: 50%;
    top: -15px;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-left .abdullah-google-reviews-wrapper-inner.layout-2 .abdullah-google-reviews-content-wrapper-arrow::before{
    left: 40px;
    top: -15px;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-align-right .abdullah-google-reviews-wrapper-inner.layout-2 .abdullah-google-reviews-content-wrapper-arrow::before{
    right: 25px;
    top: -15px;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-image-aside{
    display: flex;
    align-items: center;
  }
  
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-transition-top-yes:hover{
    transform: translateY(-10px);
  }
  .abdullah-google-reviews-wrapper.abdullah-google-reviews-transition-top-yes{
    transform: translateY(0px);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
 
  .abdullah-google-reviews-carousel-wrapper.abdullah-google-reviews-carousel-dots-center .abdullah-swiper-pagination{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .abdullah-google-reviews-carousel-wrapper.abdullah-google-reviews-carousel-dots-right .abdullah-swiper-pagination{
    margin-left: auto;
    text-align: right;
   }

  .abdullah-google-reviews-carousel-wrapper.abdullah-google-reviews-carousel-dots-left .abdullah-swiper-pagination {
    margin-right: auto;
    text-align: left;
  }

  .abdullah-google-reviews-wrapper .abdullah-google-reviews-reviewer-wrapper .abdullah-google-reviews-reviewer .abdullah-author-name a{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    transition: all .3s ease;
  }

  .abdullah-google-reviews-wrapper .abdullah-google-reviews-reviewer-wrapper .abdullah-google-reviews-reviewer .abdullah-google-reviews-date {
    margin: 0;
    display: block;
    font-size: 14px;
    font-weight: 600;
  }

/*abdullah Google Reviews End here*/